config/scopus_config.ini
env/

app/*/*/data/
!app/*/*/data/README

load/*/data/
!load/*/data/README

transform/*/data/
!transform/*/data/README

validation/*/data/
!validation/*/data/README

.aux/

data/raw/*
data/parquet/*
!data/raw/README
!data/parquet/README

/app/settings.ini
__pycache__/
